@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*componentes nativos css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    scroll-behavior: smooth;
    margin:0px;
    height:100%;
    font-family: 'Raleway', sans-serif;
    
}
h1{
    text-align: center;
    font-weight: 900;
    color:#1f1f1f;
}
p{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
}
h1{
    font-size: 1.4rem;
}
span{
    font-size: 18px;
    font-weight: 800;
}

/*-------------- CABECERA -------------*/
.fire{
    transform: translate(-120px,-280px);
    position:fixed;
    z-index: 2;
}
.h1-card{
    font-size: 2.2rem;
}
.p-card{
    text-transform: initial;
    line-height: 1.4rem;
    font-size: 1rem;
    
}
.imagen-logo{
    width: 240px;
}
.imagen-logo-2{
    width: 100px;
}
.imagen-logo-sm{
    width: 190px;
}
.imagen-logo-2-sm{
    width: 70px;
}
.imagen{
    transition: .5s;
}
.navbar{
    position: fixed;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .5s;
}
.navbar-1{
    background: #155263;
    height: 120px;
}
.navbar-2{
    background: #155263ea;
    height: 90px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    background: url(../assets/background.jpg);
    height: 100%;
    background-attachment: fixed;
    
    position: relative;
}

.card{
    background: inherit;
    position: relative;
    top: 35%;
    left: 50%;
    width: 450px;
    height: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    color:#000;
    border-radius: 10px;
    z-index: 9;
}
.card:before{
    content: "";
    background: inherit; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(10px);

}
.info{
    height: 100%;
    padding: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.pokeapi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
.button{
    position: absolute;
    top: 80%;
    left: 46%;
    z-index: 20;
}

.button svg{
    background: #FFC93C;
    border: solid 3px #FFC93C;
    border-radius: 100%;
    animation: float 6s ease-in-out infinite;
}
/* SECCION DE CONTENIDO*/
.contenedor-pokemones{

    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.card-pokemon{
    background: #ffc93c;
    border-radius: 15px;
    width: 190px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 15px;
}
.section{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    height: auto; 
    background: url(https://i.pinimg.com/originals/b7/a7/4e/b7a74e3528272a87049ec304ae3ace36.png);
}
.contenido{
    min-height: 800px;
    background: #f0f0f0e8;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor-buscador{
    margin-top: 72px;
    margin-bottom: 25px;
    display: flex;
    justify-content:space-between;
    align-items:center;
  
    margin-left: 70px;
    margin-right: 70px;
    height: auto;
    gap: 10px;
}

  
  input[type="search"] {
    -webkit-appearance: none !important;
    background-clip: padding-box;
    background-color: white;
    vertical-align: middle;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e5;
    font-size: 1rem;
    width: 100%;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }
  
  input[type="search"]:focus {
    transition: all 0.5s;
    box-shadow: 0 0 40px #f9d442b9;
    border-color: #ffc93c;
    outline: none;
  }
  
  form.search-form {
      
      display: flex;
      justify-content: center;
  }
  label {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    margin-bottom: 0;
  }
  
  input.search-field {
      display: none;
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    height: 51px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input.search-submit {
    height: 51px;
    margin: 0;
    padding: 1rem 1.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
  }
  
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .button-search {
    display: none;
  }
  :root {
    --searchbox-size: 55px;
    --searchbox-length: 300px;
  }
  .searchbox {
    background: #2c3e50;
    height: 70px;
    border-radius: var(--searchbox-size);
    padding: 10px;
    width: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  
  .searchbox a {
    color: #2c3e50;
    width: var(--searchbox-size);
    height: var(--searchbox-size);
    background: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: calc(var(--searchbox-size) * 0.6);
  }
  
  .searchbox input {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 100%;
    padding: 0;
    width: 0;
    transition: 0.3s ease-in;
  }
  
  .searchbox:hover > input {
    width: var(--searchbox-length);
    padding: 0 12px;
  }
  
  .searchbox:hover > a {
    background: transparent;
    color: rgb(179, 179, 179);
  }
  
/* Reset Select */
select {
    justify-self: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    font-size: 0.95rem;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    padding-left: 10px;
    position: relative;
    display: flex;
    width: 12em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    color:rgb(199, 199, 199);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
 
  
@media (max-width:768px){
  
    .card{
        top: 30%;
        left:10%;
        width: 85%;
        height: 370px;
    }
    .button{
        position: absolute;
        top: 88%;
        left: 40%;
        transform: scale(0.7);
    }
    .header{
        background-size: 1300px;
        background-position-y: 90%;
        background-position-x: -100px;
    }
    .h1-card{
        font-weight: 900;
        color:#1f1f1f;
        font-size: 24px;
    }
    .p-card{
        font-weight: 600;
        font-size: 14px;
    }
    span{
        font-size: 16px;
        font-weight: 800;
    }
    .contenido{
        width: 95%;
    }
    .fire{
        display: none;
    }
    .contenedor-buscador{
        flex-direction: column;
    }
    .searchbox:hover > input {
        width: 150px;
        
    }
    .searchbox {
        position: absolute;
    }
    .select{
        margin-top: 80px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .contenedor-buscador{
        flex-direction: column;
    }
    .card{
        top: 35%;
        left:40%;
    }
    .contenido{
        width: 80%;
    }
}
/* ANIMATIONS */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
